// colors
$color-font: #000;
$primary-background-color: #333333;
$secondary-background-color: #cc0001;
$footer-item-font-color: #a2a3a0;
$footer-item-background-color: #4b4b4b;
$border-color: #96c8da;
